<div id="divWrapper">
	<div id="divSpeechBubble"><div id="divBubbleText"><%= @Spam.spam %></div></div>
	<div id="div312">A <a href="http://threetwelvecreative.com">ThreeTwelve Creative Web Development</a> Project.</div>
    <div id="divTweet">
    	<p style="float:left;padding-top:5px;">Why not </p>
    	<p style="height:40px;width:75px;float:left;padding:0px 5px 0px 5px;"><a style="margin-top:0px;" href="https://twitter.com/share" class="twitter-share-button" data-url="http://mishmash.es" data-text="What do you want your mishmash.es to be?" data-via="3TwelveCreative" data-size="large" data-count="none" data-hashtags="mishmashes">Tweet</a></p>
    	<p style="float:left;padding-top:5px;"> and let us know you were here?</p>
    	<p style="clear:left;">Refresh to see even more awesome spam comments!</p>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>