/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body{
    		margin:0 0px;
    		padding:0 0px;
    		background: #5d985d url("/assets/backgroundBG.png") top center repeat-x;
    		
    	}
      #divWrapper{
      	margin:0 auto;
      	padding:0px;
      	position:relative;
      	width:1000px;
      	height:728px;
      	background: url("/assets/mishmashesNoField.png") top center no-repeat;
      }
      #divSpeechBubble{
      	background: url("/assets/speechbubble.png") top center no-repeat;
      	position:absolute;
      	top:260px;
      	left:480px;
      	width:520px;
      	height:230px;
      }
      #divBubbleText{
      	margin:65px 35px 40px 70px;
      }
      #div312{
      	color:#527252;
      	position:absolute;
      	top:500px;
      	left:560px;
      	width:350px;
      }
      #div312 a{
      	color:#527252;
      }
      #divTweet{
      	color:#527252;
      	position:absolute;
      	top:525px;
      	left:560px;
      	width:400px;
      }