<!DOCTYPE html>
<html>
<head>
  <title>Mishmashes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="What are your Mishmash.es going to be? Only YOU can answer that!" />
    <meta property="og:image" content="http://mishmash.es/mishmashesNoField.png" />
</head>
<body>

<%= yield %>

</body>
</html>
